.fullpage p{
    margin: 1rem 1rem;
    font-size: 19px;
    font-family: 'Switzer-Regular';
}


.mainwebsitepage {
    font-size: 22px;    
}

.mainwebsitepage h1 {
    font-size: 30px;
}

.mainwebsitepage h2 {
    font-size: 24px;
}

@media (max-width: 600px) {
    .mainwebsitepage {
        font-size: 19px;
        margin: 1rem;
    }

    .mainwebsitepage h1 {
        font-size: 24px;
    }

    .mainwebsitepage h2 {
        font-size: 20px;
    }
}

