.mainTable {
    overflow-x: auto;
    font-size: 15px;
}

.actualTable {
    border-collapse: 'collapse';
    width: calc(100vw - 75px);
    overflow-x: auto;
}

.headrow {
    background-color: darkgreen;
    color: white;
}

.headcell {
    padding: 10px;
    border: 1px solid black;
}

.rowactual {
    background-color: white;
}


@media (max-width: 768px) {
    .actualTable {
        width: calc(100vw - 100px);
    }
    .headcell {
        padding: 5px;
        border: 0.5px solid black;
    }

    .mainTable {
        font-size: 11px;
    }
}