/*
List of elements in HTML:

sectiondiv

buttonbouncy

fullpage
*/

.fullpage {
    text-decoration: none;
    color: black;
    margin: 1rem 0 0 1rem;
    font-family: Didot;
}

.link {
    text-decoration: none;
    color: black;
}

h2.buttonbouncy {
    border: 2px solid;
    padding: 7px;
    box-shadow: 6px 4px 5px;
    border-width: 3px 3px; 
    width: 30%;

}

.sectiondiv ul li { 
    margin-top: 1rem;
    margin-bottom: 1rem;
}


@media (max-width: 600px) {

    .fullpage {
        margin: 0.5rem 0 0 0.5rem;
    }
    .sectiondiv h2{
        font-size: 10px;
    }

    .sectiondiv ul li {
        font-size: 8px;
    }

    .sectiondiv p {
        font-size: 8px;
    }
}